body{
font-family:Arial;
background:plum;
text-align:center;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:20px;
width:650px;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
padding:8px;
margin:5px;
width:45%;
}

button{
padding:8px 12px;
margin:5px;
background:#28a745;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:#1e7e34;
}

#output{
margin-top:20px;
text-align:left;
}